body {
  font-family: sans-serif;
}

canvas {
  position: absolute;
}

#toolbar {
  background-color: #BCA6C4;
  color: white;
  font-weight: normal;
  font-size: 15pt;
}

#nicknamesetting {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

#name {
  width: 500px;
}

#nicknamebutton {
  margin-left: 6vh;
  background-color: #BCA6C4;
  color: white;
}

#logo {
  margin-top: 20vh;
  width: 475px;
  height: 215px;
}

#logobox {
  display: flex;
  justify-content: center;
}

#video_chat {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

#canvas_video {
  width: 80vw;
  height: 90vh;
  display: flex;
  align-items: center;
}

#canvas_place {
  z-index: 1;
  width: 80vw;
  height: 90vh;
  position: absolute;
  display: flex;
  align-items: center;
}

#videos {
  width: 80vw;
  position: absolute;
}

#send {
  position: absolute;
  top: 83vh;
  display:flex;
  justify-content: flex-end;
}

#chatsystem {
  width: 20vw;
}

#content {
  overflow-y: scroll;
  height: 83vh;
  width: 20vw;
}

#message {
  width:13vw;
}

#button {
  background-color: #BCA6C4;
  color: white;
  width: 5vw;
}

#container {
  position: absolute;
  top: 0vh;
  z-index: -1;
}

#logs {
  position: absolute;
  top: 80vh;
}